<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - typeidea 博客系统</title>
</head>
<body>
    <div>顶部分类:
        {% for nav_cate in nav_cates %}
            <a href="{% url 'category' nav_cate.id %}">{{ nav_cate.name }}</a>
        {% endfor %}
    </div>
    <hr>

    {% block main %}
    {% endblock %}
    <hr>

    <div>底部分类:
        {% for cate in cates %}
            <a href="{% url 'category' cate.id %}">{{ cate.name }}</a>
        {% endfor %}

    </div>
    <hr>

    <div>侧边栏
        {% for sidebar in recently_sidebars %}
            <h4>{{ sidebar.title }}</h4>
            {{ sidebar.content }}
        {% endfor %}

    </div>
</body>
</html>